/* body [class*="col-"] {
  height: 200px;

  border: 1px solid red;
} */
body{

}
header{
    background: #1ABC9C;
}
.navbar{
  background: #2C3E50
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}
.navbar-inverse .navbar-brand {

    color: white;
  }


.jumbotron{
  text-align: center;
    background: #1ABC9C;

  font-size: 1.5em
}
.jumbo_img{
  height: 300px
}
.jumbotron> h1{
  font-size:2.5em

}
.grid{
  margin: 5px 5px;
      width: 29%;
}
.about{
  background: #1ABC9C;
}
.card{
  padding: 5%
}
.form-control{
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    box-shadow: none;
    border-radius: 0;
}

.text_center{
  text-align: center;
}


h2{
  text-align: center;
}
.download{
    margin-left: 45%;
}
