body [class*="col-"] {
  height: 200px;

  border: 1px solid red;
}
body{

}
header{
    background: #1ABC9C;
}
.navbar{
  background: #2C3E50
}


.jumbotron{
  text-align: center;
    background: #1ABC9C;

  font-size: 1.5em
}
.jumbo_img{
  height: 300px
}
.jumbotron> h1{
  font-size:2.5em

}
.grid{
  margin: 5px 5px;
      width: 29%;
}
.card{
  padding: 5%
}


h2{
  text-align: center;
}
.download{
    margin-left: 45%;
}
.footer{
  background: #2C3E50;

}
